<header data-uri="{{ default _ref _self }}" class="{{componentVariation}} " data-editable="settings">
    <div class="vulture-section">
        <div class="vulture-section-title">
            <img src="{{ imageUrl }}" class="vulture-section-image" data-src="{{ imageUrl }}">
        </div>
        <div class="vulture-section-buttons">
            {{!-- {{#if links }} --}}
            <a target="_blank" href="{{ links }}">Style</a>
            <a target="_blank" href="{{ links }}">Self</a>
            <a target="_blank" href="{{ links }}">Culture</a>
            <a target="_blank" href="{{ links }}">Power</a>
            {{!-- {{/if }} --}}
        </div>
    </div>
</header>