<header data-uri="{{ default _ref _self }}" class="{{componentVariation}} " data-editable="settings">
    <div class="vulture-section">
        <div class="vulture-section-title">
            <img src="https://butmakeitfashioncom.files.wordpress.com/2018/12/Screen-Shot-2018-12-16-at-2.36.01-PM.png?w=324" class="vulture-section-image" data-src="https://butmakeitfashioncom.files.wordpress.com/2018/12/Screen-Shot-2018-12-16-at-2.36.01-PM.png?w=324">
        </div>
        <div class="vulture-section-buttons">
            {{!-- {{#if links }} --}}
            <a target="_blank" href="{{ links }}">Style</a>
            <a target="_blank" href="{{ links }}">Self</a>
            <a target="_blank" href="{{ links }}">Culture</a>
            <a target="_blank" href="{{ links }}">Power</a>
            {{!-- {{/if }} --}}
        </div>
    </div>
</header>