<header data-uri="{{ default _ref _self }}" class="{{componentVariation}} " data-editable="settings">
    <ul class="magazine-section">
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">intelligencer</a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">the cut</a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">vulture</a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">grub street</a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}"><img src="{{ imageUrl }}" class="magazine-section-image" data-src="{{ imageUrl }}"></a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">the strategist</a></li>
        <li class="magazine-section-item"><a target="_blank" href="{{ links }}">the magazine</a></li>
    </ul>
</header>